.App {
  text-align: center;
}

.crud-container {
  margin: 20px;
}

.crud-form {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}